<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link class="style" href="../../Css/Qraduate/p_graduate_work.css" rel="stylesheet" type="text/css">
<style>
		#Chart_p_graduate_work_by_years{
		width:540px;
		height:350px;
		margin-left:auto;
	margin-right:auto;
		/*border:1px solid #cccccc;*/
	} 
	
		#Chart_p_graduate_work_by_faculty{
		width:540px;
		height:350px;
		margin-left:auto;
	margin-right:auto;
		/*border:1px solid #cccccc;*/
	} 
		#Chart_p_employer_survey_by_faculty{
		width:1120px;
		height:900px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	} 
	
</style>

<script type="text/javascript"> $(".Year").html($("#embparamYearList").val()) ;</script>


<script type="text/javascript"> $(".YearSub").html($("#embparamYearSubList").val()) ;</script>

<div id = "main3">	
		<div id = "topContent3">
			<div class = "panel3">
				<div class = "panelTitleChart3">
					ภาวะการหางานทำของผู้สำเร็จการศึกษา เปรียบเทียบย้อนหลัง <label class="YearSub"></label> ปี <br/>
					(คลิกที่แต่ละปีเพื่อดูรายละเอียดในระดับคณะ/ความพึงพอใจ)
				</div>
				<br/><br/>
				<div id = "Chart_p_graduate_work_by_years" class = "chart"> 
				
				</div>
			</div>
			<div class="panel3">
				<div class = "panelTitleChart3">
					ภาวะการหางานทำของผู้สำเร็จการศึกษา ปีการศึกษา <label class="Year"></label><br/>
					จำแนกเป็นรายคณะ
				</div>
				<br/><br/>
				<div id = "Chart_p_graduate_work_by_faculty" class = "chart">
				</div>
			</div>
		</div>	
		<div id = "topCon3">
			<div class = "panel3">
				<div class = "panelTitleChart3">
					ผลสำรวจความพึงพอใจของผู้ใช้บัณฑิต ปีการศึกษา <label class="Year"></label><br/> 
					จำแนกเป็นรายคณะ
				</div>
				<br/><br/>
				<div id = "Chart_p_employer_survey_by_faculty" class = "chart"> 
				</div>
			</div>
		</div>
	<br style = "clear:both">
</div>