<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link class="style" href="../../Css/Employee/cp_all_employee_by_level_line.css" rel="stylesheet" type="text/css">

<style>
	#Chart_emp_by_lv_line_year{
		width:740px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}
	

</style>

<div id = "main2">
		<div id = "topContent2">
			<div id = "panel1">
				<div class = "panelTitleChart1">
						จำนวน<label class="typegroup"></label> จำแนกตามระดับและอายุ
				</div>
				<br/><br/>
				<div id = "Chart_emp_by_lv_line_year" class = "chart"> 
				</div>
			</div>
		</div>	
		<br style = "clear:both">
	</div>
