<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link class="style" href="../../Css/Employee/cp_all_employee_by_foreign.css" rel="stylesheet" type="text/css">

<style>
		#Chart_emp_by_for_year{
		width:650px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}
	
	#Chart_emp_by_for_fac_a{
		width:540px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}
	
	#Chart_emp_by_for_fac_b{
		width:540px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}

</style>

<script type="text/javascript"> $(".Year").html($("#embemp_paramYear").val()) ;</script>
<script type="text/javascript"> $(".YearSub").html($("#embemp_paramSizeList").val()) ;</script>

	<div id = "main6">
		<div id = "topContent6">
			<div class = "panel6">
				<div class = "panelTitleChart6">
					จำนวนบุคลากรชาวต่างประเทศทั้งหมด ย้อนหลัง <label class="YearSub"></label> ปี<br/>
					(คลิกที่แต่ละปีเพื่อดูรายละเอียดในระดับหน่วยงาน)
				</div>
				<br/><br/>
				<div id = "Chart_emp_by_for_year" class = "chart"> 
				</div>
			</div>
		</div>
		
		<div id = "topCon6">
			<div class="panel6">
				<div class = "panelTitleChart6">
					จำนวนบุคลากรชาวต่างประเทศ  จำแนกตามหน่วยงาน ปี <label class="Year"></label><br/>
				</div>
				<br/><br/>
				<div id = "Chart_emp_by_for_fac_a" class = "chart">
				</div>
			</div>
			
			<div class="panel6">
				<div class = "panelTitleChart6">
					ร้อยละของจำนวนบุคลากรชาวต่างประเทศ  จำแนกตามหน่วยงาน ปี <label class="Year"></label><br/>
				</div>
				<br/><br/>
				<div id = "Chart_emp_by_for_fac_b" class = "chart">
				</div>
			</div>
		</div>	
		<br style = "clear:both">
	</div>
