<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link class="style" href="../../Css/AllStudent/p_all_student_by_fee_type.css" rel="stylesheet" type="text/css">

<style>
		#Chart_p_all_student_by_year_and_fee_type{
		width:540px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}
		#Chart_p_all_student_by_faculty_and_fee_type{
		width:540px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	} 
</style>


<script type="text/javascript"> $(".Year").html($("#embparamYearList").val()) ;</script>


<script type="text/javascript"> $(".YearSub").html($("#embparamYearSubList").val()) ;</script>

	<div id = "main3">
		<div id = "topContent3">
			<div class = "panel3">
				<div class = "panelTitleChart3">
					จำนวนนักศึกษาทั้งหมด จำแนกตามประเภทหลักสูตร ย้อนหลัง <label class="YearSub"></label> ปี <br/>
					(คลิกที่แต่ละปีเพื่อดูรายละเอียดในระดับคณะ)
				</div>
				<br/><br/>
				<div id = "Chart_p_all_student_by_year_and_fee_type" class = "chart"> 
				</div>
			</div>
			<div class="panel3">
				<div class = "panelTitleChart3">
					จำนวนนักศึกษาทั้งหมด ปีการศึกษา <label class="Year"></label> <br/>
					จำแนกตามประเภทหลักสูตร เป็นรายคณะ
				</div>
				<br/><br/>
				<div id = "Chart_p_all_student_by_faculty_and_fee_type" class = "chart">
				</div>
			</div>
		</div>	
		<br style = "clear:both">
	</div>
