<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link class="style" href="../../Css/NewStudent/p_candidate_qualifier_register.css" rel="stylesheet" type="text/css">

<style>
		#Chart_p_candidate_qualifier_register_by_totals{
		width:540px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	}
		#Chart_p_candidate_qualifier_register_by_faculty{
		width:1120px;
		height:350px;
		margin-left:auto;
		margin-right:auto;
		/*border:1px solid #cccccc;*/
	} 
</style>

<script type="text/javascript"> $(".Year").html($("#embparamYearList").val()) ;</script>

	<div id = "main1">
		<div id = "topContent1">
			<div class = "panel1">
				<div class = "panelTitleChart1">
					จำนวนผู้สมัคร ผู้มีสิทธิ์เข้าศึกษา และจำนวนนักศึกษาลงทะเบียน<br/>
					(คลิกที่แต่ละปีเพื่อดูรายละเอียดระดับคณะ)
				</div>
				<br/><br/>
				<div id = "Chart_p_candidate_qualifier_register_by_totals" class = "chart"> 
				</div>
			</div>
			<div class="panel2">
				<div class = "panelTitleChart1">
					จำนวนผู้สมัคร ผู้มีสิทธิ์เข้าศึกษา และจำนวนนักศึกษาลงทะเบียน<br/>
					จำแนกตามคณะ ปีการศึกษา <label class="Year"></label>
				</div>
				<br/><br/>
				<div id = "Chart_p_candidate_qualifier_register_by_faculty" class = "chart">
				</div>
			</div>
		</div>	
		<br style = "clear:both">
	</div>