<link class="style" href="../../Css/NewStudent/p_new_student_by_school.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

 <script src="../../Controller/NewStudent/p_new_student_by_school_region_province.js"> </script> 

<script type="text/javascript"> $(".Year").html($("#embparamYearList").val()) ;</script>
<div id = "main5">
	<div id = "topContent5">
		<div id="tabs5">
				<ul>
					<li><a href="#tabs5-1">ภาค</a></li>
					<li><a href="#tabs5-2">จังหวัด</a></li>
				</ul>
			<div id="tabs5-1"></div>
			<div id="tabs5-2"></div>
		</div>
	</div>
</div>